<!-- <mat-form-field color="accent" class="example-form-field"  #container>
  <span class="p-float-label" id="p-float-label">
    <p-inputMask id="datePickerTemp" mask="99/99/9999 99:99"
      [(ngModel)]="datePickerTemp" placeholder=""
      slotChar="วว/ดด/ปปปป ชม:นท"
      (onBlur)="dateBlur($event.target.value)"  #datePickerTemp3  class="btn" (keydown)="keyEnterSave($event)"></p-inputMask>
  
  </span>
  <input matInput [matDatepicker]="picker2"
  [(ngModel)]="datePicker" (click)="picker2.open()"
    style="display: none;" (dateChange)="onSelect('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary" (opened)="onOpen()"></mat-datepicker>
</mat-form-field> -->

<mat-form-field color="accent" class="example-form-field"  #container>

  <span class="p-float-label" id="p-float-label">
    <p-inputMask id="datePickerTemp" mask="99/99/9999 99:99"
      [(ngModel)]="datePickerTemp" placeholder=""
      slotChar="วว/ดด/ปปปป ชม:นท"
      (onBlur)="dateBlur($event.target.value)"  #datePickerTemp3  class="btn" (keydown)="keyEnterSave($event)"></p-inputMask>  
  </span>
  
  <input matInput [ngxMatDatetimePicker]="picker2"  [(ngModel)]="datePicker"  (click)="picker2.open()"
  style="display: none;" (dateChange)="onSelect('change', $event)">
  
  <mat-datepicker-toggle matSuffix [for]="picker2">
    <!-- <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon> -->
  </mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker2 color="primary" (opened)="onOpen()" [touchUi]="false"></ngx-mat-datetime-picker>
</mat-form-field>


<!-- <div style="display: none;margin-bottom: 60px;">
  <div class="datepicker-footer" #datepickerFooter>
    <button mat-raised-button color="primary" (click)="today()" #todayButton style="margin-left:20px;margin-bottom: 20px;">
      วันนี้
    </button>
    <button mat-raised-button color="primary" (click)="onSelect('change', $event)" #doneButton style="display:none;margin-bottom: 20px;float: right;">
      ตกลง
    </button>
  </div>
</div> -->

<!-- [(ngModel)]="datePicker"  -->
<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->

      <!-- https://www.npmjs.com/package/@angular-material-components/datetime-picker -->