<div class="flex flex-col flex-auto min-w-0 m-5 dark:bg-slate-900 dark:text-white">
    <mat-card>
        <mat-card-header class="bg-slate-200 dark:bg-slate-500 dark:text-white rounded-t-lg">
            <mat-label class="mb-1">Evaluate</mat-label>
        </mat-card-header>

        <div class="flex flex-col divide-y dark:bg-slate-500 dark:text-white w-full">
            <div class="card-body w-full">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card>
</div>

