<!-- <mat-form-field #container style="height: 15px; width: 150px;">
  <input matInput [textMask]="mask" [matDatepicker]="picker" [value]="value"
    (focus)="showCalendar()" 
    (dateChange)="onSelect('change', $event)"
    (dateInput)="onInput('input', $event)"
    style="cursor: pointer;height: 15px;" #datemat>
  <mat-datepicker-toggle matSuffix [for]="picker" style="height: 15px; width: 150px;"></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false" (opened)="onOpen()" style="cursor: pointer;height: 15px;"></mat-datepicker>
</mat-form-field> -->



<mat-form-field color="accent" class="example-form-field"  #container>
  <span class="p-float-label" id="p-float-label">
    <p-inputMask id="datePickerTemp" mask="99/99/9999"
      [(ngModel)]="datePickerTemp" placeholder=""
      slotChar="วว/ดด/ปปปป"
      (onBlur)="dateBlur($event.target.value)"  #datePickerTemp3  class="btn" (keydown)="keyEnterSave($event)"></p-inputMask>
  
  </span>
  <input matInput [matDatepicker]="picker2"
  [(ngModel)]="datePicker" (click)="picker2.open()"
    style="display: none;" (dateChange)="onSelect('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary" (opened)="onOpen()"></mat-datepicker>
</mat-form-field>


<div style="display: none">
  <div class="datepicker-footer" #datepickerFooter>
    <button mat-raised-button color="primary" (click)="today()" #todayButton>
      Today
    </button>
    <!-- <button mat-raised-button (click)="done()" #doneButton>
      Done
    </button> -->
  </div>
</div>

<!-- [(ngModel)]="datePicker"  -->
<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->