<div class="custom-pagination-child-first-div" style="background-color: rgb(225, 231, 231);">
    <div class="custom-pagination-parent">
        <div class="custom-pagination-child flex flex-row items-center w-full p-2">
            <button mat-stroked-button color="primary" >รายการทั้งหมด : &nbsp;&nbsp;{{totalRows}}</button>
            <!-- <button> &nbsp;&nbsp;&nbsp;&nbsp;รายการทั้งหมด : &nbsp;&nbsp;{{totalRows}}</button> -->
            <button mat-icon-button (click)="onBtFirst()" class="mr-1 ml-2 bg-slate-300 round"><mat-icon svgIcon="mat_outline:first_page" class="text-white "></mat-icon></button>
            <button mat-icon-button (click)="onBtPrevious()"><mat-icon svgIcon="mat_outline:keyboard_arrow_left"></mat-icon></button>
            <button class="mr-8 ml-8">หน้าที่ {{currentPage}} จากหน้าทั้งหมด {{totalPage}}</button>
            <button mat-icon-button (click)="onBtNext()" class="mr-1"><mat-icon svgIcon="mat_outline:keyboard_arrow_right"></mat-icon></button>
            <button mat-icon-button (click)="onBtLast()" class="bg-slate-300 round"><mat-icon svgIcon="mat_outline:last_page" class="text-white "></mat-icon></button>
         
            <div class="flex flex-row ml-5">
                <div>
                    <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">{{pageNumText}}</button>
                    <mat-menu #menu="matMenu" [xPosition]="'before'" yPosition="above">
                        <button mat-menu-item *ngFor="let c of itemsdropdownPage" (click)="onBtPageNum(c)">
                            <span>{{ c.label }}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

        </div>
    </div>
</div>
