<div class="flex flex-col flex-auto min-w-0 m-5 dark:bg-slate-900 dark:text-white">
    <mat-card>
        <mat-card-header class="bg-slate-300 dark:bg-slate-700 dark:text-white rounded-t-lg">
            <mat-label class="mb-4 text-xl">Refer In</mat-label>
        </mat-card-header>

        <div class="flex flex-col divide-y dark:bg-slate-500 dark:text-white">
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card>
</div>
