<div class="flex-col w-full p-5">
  <div class="flex flex-col">
    <div class="flex flex-row w-full items-center">
      <div class="basis-[85%]">
        <div class="flex flex-row">
          <div class="flex flex-col max-w-70 min-w-50  sm:w-1/2 md:w-1/4 lg:w-1/5 xl:w-1/6 mr-5">
            <ng-container>
              <a
                class="flex flex-row items-start pt-2 pb-2 pr-2 bg-emerald-200 shadow bg-card rounded-lg hover:shadow-xl transition-shadow duration-150 ease-in-out">
                <div class="flex flex-col items-center justify-center p-1">
                  <div
                    class="flex items-center justify-center rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary w-12 h-12">
                    <mat-icon
                      class="text-blue-600 icon-size-8"
                      svgIcon="mat_outline:airline_seat_flat_angled"></mat-icon>
                  </div>
                  <!-- Title -->

                </div>
                <div class="flex flex-col w-full">
                  <div class="flex flex-row w-full pr-1 ml-4 text-2xl font-bold text-blue-600 cursor-pointer">
                    REFER OUT
                  </div>
                  <div class="flex flex-row w-full pr-1 ml-4 cursor-pointer">
                    ส่งต่อการรักษา
                  </div>
                </div>

              </a>
            </ng-container>
          </div>

          <div class="flex flex-col w-40 cursor-pointer">
            <mat-label>วันเริ่มต้น</mat-label>
            <input #pickerDirective
              type="text"
              class="rounded-md border border-slate-400 bg-white shadow h-10 pl-4 pr-4 w-full cursor-pointer datepicker-calendar-icon"
              ngxDaterangepickerMd
              [(ngModel)]="selectedDateStart"
              [autoApply]="true"
              [locale]="{ format: 'DD/MM/YYYY' }"
              [singleDatePicker]="true"
              placeholder="วันที่ค้นหาข้อมูล"
              (change)="dateChangeStart($event)" />

          </div>
          <div class="flex flex-col w-40 ml-10 cursor-pointer">
            <mat-label>วันสิ้นสุด</mat-label>
            <input
              type="text"
              class="rounded-md border border-slate-400 bg-white shadow h-10 pl-4 pr-4 w-full cursor-pointer datepicker-calendar-icon"
              ngxDaterangepickerMd
              [(ngModel)]="selectedDateEnd"
              [autoApply]="true"
              [locale]="{ format: 'DD/MM/YYYY' }"
              [singleDatePicker]="true"
              placeholder="วันที่ค้นหาข้อมูล"
              (change)="dateChangeEnd($event)" />

          </div>
          <div class="flex flex-col justify-center ml-5">
            <button mat-raised-button color="primary" class="hidden lg:flex xl:flex xxl:flex" (click)="getData()">ค้นหา</button>
            <button mat-raised-button color="primary" class="lg:hidden xl:hidden xxl:hidden" (click)="getData()"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>

        </div>
      </div>
      <div class="basis-[15%] ">
        <div class="flex flex-row justify-end items-center">
          <button mat-raised-button color="primary" class="hidden lg:flex xl:flex xxl:flex">Create Refer</button>
          <button mat-raised-button color="primary" class="lg:hidden xl:hidden xxl:hidden"><i class="fa-solid fa-folder-plus"></i></button>
        </div>
      </div>

    </div>
    <div class="flex flex-row w-full items-center">
      <div class="basis-[85%]">
        <div class="flex flex-row w-full p-2 gap-x-5 gap-y-4">
          <div class="flex flex-row">
            <div class="rounded-full shadow text-center text-white resuscitate-pt border-white border-2 w-6 h-6"> R </div>
            <div class="mt-1 ml-1">Resuscitate</div>

          </div>
          <div class="flex flex-row">
            <div class="rounded-full shadow text-center text-white emergency-pt border-white border-2 w-6 h-6"> E </div>
            <div class="mt-1 ml-1">Emergency</div>
          </div>
          <div class="flex flex-row">
            <div class="rounded-full shadow text-center text-white urgency-pt border-white border-2 w-6 h-6"> U </div>
            <div class="mt-1 ml-1">Ugency</div>
          </div>
          <div class="flex flex-row">
            <div class="rounded-full shadow text-center text-white semi-urgency-pt border-white border-2 w-6 h-6"> S </div>
            <div class="mt-1 ml-1">Semi Ugency</div>
          </div>
          <div class="flex flex-row">
            <div class="rounded-full shadow text-center text-black none-urgency-pt border-black border-2 w-6 h-6"> N </div>
            <div class="mt-1 ml-1">None Ugency</div>
          </div>

        </div>
      </div>
      <div class="basis-[15%] ">
        <div class="flex flex-row justify-end items-center">
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="menuExport" class="rounded bg-neutral-200 pb-2 pt-2">Export
            <mat-icon class="text-white" svgIcon="heroicons_solid:chevron-down"></mat-icon>
          </button>

          <mat-menu #menuExport="matMenu" [xPosition]="'before'" yPosition="above">
            <button mat-menu-item>Excel</button>
            <button mat-menu-item>CSV</button>
            <button mat-menu-item>PDF</button>
          </mat-menu>
        </div>
      </div>
    </div>

  </div>
  <div class="p-0">
    <ag-grid-angular #agGrid3 style="width: 100%; height: 500px;font-size:23px;"
      class="ag-theme-alpine"
      [rowData]="rowsData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [sideBar]="sideBar"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [paginationPageSize]="paginationPageSize"
      [loadingCellRenderer]="loadingCellRenderer"
      [loadingCellRendererParams]="loadingCellRendererParams"
      [debug]="true"
      [localeText]="localeText"
      [pagination]="true"
      [tooltipShowDelay]="tooltipShowDelay"
      [tooltipHideDelay]="tooltipHideDelay"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [suppressPaginationPanel]="true"
      [allowContextMenuWithControlKey]="true"
      [getContextMenuItems]="getContextMenuItems"
      (selectionChanged)="onSelectionChanged($event)"
      (cellValueChanged)="onCellValueChanged($event)"
      (paginationChanged)="onPaginationChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <app-custom-pagination [childData]="{'gridApi': gridApi, 'rowsPerPage': rowsPerPage, 'dataLength':rowCount,'currentPage':currentPage,'pageSizeDatas':pageSizeDatas}"></app-custom-pagination>
  </div>

</div>