.header-table-colspan {
    width: 100%;
    text-align: center;
   
  }
 .cell-table {
    width: 100%;
   
   
  }
  
  .header-table td {
    // border: 1px solid #ddd;
    width: 50%;
  }
  
  .cell-table td {
    width: 50%;
  }
  // .ngx-datatable  {
  //   border-left: 1px solid black;
  // }

  .bordered-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
  
  .bordered-table th, .bordered-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  .mat-resucc {
    background-color: rgb(232, 31, 31);
    color: #fff;
}


  