input {
    background-color:transparent;
    border: 0px solid;
    height:100%;
    width:100%;
    text-align:center;
    outline:none;
    text-decoration: underline;

}
input:focus {
    outline:none;
}

