<div class="flex-row w-full">
  <div class="p-5">
    <ag-grid-angular #agGrid3 style="width: 100%; height: 500px;font-size:23px;" 
      class="ag-theme-alpine"
      [rowData]="rowDataEmp"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [sideBar]="sideBar"
      [rowSelection]="rowSelection"
      [paginationPageSize]="paginationPageSize"
      [debug]="true"
      [localeText]="localeText"
      [pagination]="true"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [suppressPaginationPanel]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
